<%= link_to edit_message_path(message), class: "pure-button pure-button-primary #{button_size}" do %>
  <span class="material-symbols-outlined">edit</span> Edit
<% end %>

<%= render partial: 'shared/delete_confirmation', locals: { 
  entity: message, 
  button_size: button_size 
} %>
