<% content_for :title, "Editing client session" %>

<div class="show-buttons">
  <%= link_to client_sessions_path, class: "pure-button" do %>
    <span class="material-symbols-outlined">arrow_back</span> Back
  <% end %>
</div>

<h1>Editing client session</h1>

<%= render "form", client_session: @client_session %>
