<% content_for :title, "Generate Invoice for #{@client.name}" %>

<h1>New Invoice for <%= @client.name %></h1>

<%= render 'form', invoice: @invoice %>

<style>
  .field {
    margin-bottom: 1em;
    padding-right: 1em;
  }
  
  .form-buttons {
    margin-top: 2em;
  }
  
  .align-right {
    text-align: right;
  }
</style>
