<!-- Dialog for mark paid confirmation -->
<dialog id="mark-paid-confirmation-dialog" data-controller="mark-paid-modal" data-mark-paid-modal-target="dialog" data-action="click->mark-paid-modal#clickOutside">
  <div class="dialog-content">
    <h3>Confirm Mark Invoice as Paid</h3>
    <p>Are you sure you want to mark the invoice as paid: <span data-mark-paid-modal-target="name"></span>?</p>
    <p>This will change the invoice status to "paid" and it cannot be undone.</p>
    <div class="dialog-buttons">
      <button id="cancel-mark-paid" class="pure-button" data-action="click->mark-paid-modal#close">Cancel</button>
      <%= form_tag "", method: :put, id: "mark-paid-invoice-form", class: "dialog-form",
                   data: { mark_paid_modal_target: "form", action: "submit->mark-paid-modal#close" } do %>
        <%= hidden_field_tag "invoice[status]", "paid" %>
        <button type="submit" class="pure-button button-success">Mark as Paid</button>
      <% end %>
    </div>
  </div>
</dialog>
