<!-- Dialog for send confirmation -->
<dialog id="send-confirmation-dialog" data-controller="send-modal" data-send-modal-target="dialog" data-action="click->send-modal#clickOutside">
  <div class="dialog-content">
    <h3>Confirm Send Invoice</h3>
    <p>Are you sure you want to send the invoice: <span id="invoice-to-send" data-send-modal-target="name"></span>?</p>
    <p>This will send the invoice to the client and change its status to "sent".</p>
    <div class="dialog-buttons">
      <button id="cancel-send" class="pure-button" data-action="click->send-modal#close">Cancel</button>
      <%= form_tag "", method: :post, id: "send-invoice-form", class: "dialog-form", data: { send_modal_target: "form" } do %>
        <button type="submit" class="pure-button pure-button-primary">Send Invoice</button>
      <% end %>
    </div>
  </div>
</dialog>
