<%= link_to edit_client_path(client), class: "pure-button #{button_size}", data: { turbo_frame: "_top" } do %>
  <span class="material-symbols-outlined">edit</span> Edit
<% end %>

<% if client.uninvoiced_sessions.any? %>
  <%= link_to new_client_invoice_path(client), data: { turbo: false }, class: "pure-button button-warning #{button_size}" do %>
    <span class="material-symbols-outlined">receipt_long</span> Invoice
  <% end %>
<% else %>
  <button class="pure-button button-warning <%= button_size %> disabled" disabled>
    <span class="material-symbols-outlined">receipt_long</span>Invoice
  </button>
<% end %>

<% if client.deleteable?.first %>
  <%= render partial: 'shared/delete_confirmation', locals: {
    entity: client,
    button_size: button_size
  } %>
<% end %>
