<% content_for :title, @client.name %>

<div class="show-buttons">
  <%= render partial: "buttons", locals: { client: @client, button_size: "" } %>
  <%= link_to clients_path, class: "pure-button" do %>
    <span class="material-symbols-outlined">arrow_back</span> Back
  <% end %>
</div>

<%= render @client %>

<div class="pure-g">
  <div class="pure-u-1">
    <div class="action-buttons bottom-buttons">
      <%= link_to new_client_path, class: "pure-button" do %>
        <span class="material-symbols-outlined">add</span> New Client
      <% end %>
    </div>
  </div>
</div>

<style>
  .bottom-buttons {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ddd;
  }
  
  @media (max-width: 768px) {
    .page-header {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .page-header h1 {
      margin-bottom: 0.5em;
    }
  }
</style>
