/* Toggle switch styles */
.toggle-switch {
    margin: 1em 0;
    display: flex;
    align-items: center;
}

.toggle-input {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
}

.toggle-label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 60px;
    height: 25px;
    line-height: 25px;
}

.toggle-label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 50px;
    height: 25px;
    background: #ccc;
    border-radius: 25px;
    transition: 0.3s;
}

.toggle-label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    background: #fff;
    border-radius: 19px;
    transition: 0.3s;
}

.toggle-input:checked + .toggle-label:before {
    background: #4CAF50;
}

.toggle-input:checked + .toggle-label:after {
    left: calc(50px - 22px);
}