<%= link_to edit_payee_path(payee), class: "pure-button #{button_size}", data: { turbo_frame: "_top" } do %>
  <span class="material-symbols-outlined">edit</span> Edit
<% end %>

<% if payee.clients.empty? %>
  <%= render partial: 'shared/delete_confirmation', locals: { 
    entity: payee, 
    button_size: button_size 
  } %>
<% end %>
