<% content_for :title, "Edit Payee" %>

<h1>Edit Payee</h1>

<%= render "form", payee: @payee %>

<br>

<div>
  <%= link_to "Show this payee", @payee %> |
  <%= link_to "Back to payees", payees_path %>
</div>
