<% if alert.present? %>
  <div id="alert_explanation">
    <h2><%= alert %></h2>
  </div>
<% end %>

<turbo-frame id="notice">
  <% if notice.present? %>
    <div id="notice_explanation">
      <h2><%= notice %></h2>
    </div>
  <% end %>
</turbo-frame>
